<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <h1>테스트</h1>
    <table>
      <% for(i = 0; i < list.length; i++) { %>
      <tr>
        <td><%=i+1 %></td>
        <td><%=list[i].lat %></td>
        <td><%=list[i].lng %></td>
      </tr>
      <% } %>
    </table>
</body>
</html>